.dark .pagefind-ui {
  --pagefind-ui-scale: 0.75;
  --pagefind-ui-primary: var(--aw-color-secondary);
  --pagefind-ui-text: var(--wb-acid-green);
  --pagefind-ui-border: var(--aw-color-primary);
  --pagefind-ui-border-width: 2px;
  --pagefind-ui-border-radius: 2rem;
  --pagefind-ui-font: var(--aw-font-sans);
  --pagefind-ui-background: var(--wb-dark-purple);
}

.pagefind-ui {
  --pagefind-ui-scale: 0.75;
  --pagefind-ui-primary: var(--wb-darker-purple);
  --pagefind-ui-text: var(--wb-grape);
  --pagefind-ui-border: var(--wb-light-purple);
  --pagefind-ui-border-width: 2px;
  --pagefind-ui-border-radius: 2rem;
  --pagefind-ui-font: var(--aw-font-sans);
  --pagefind-ui-background: var(--wb-muted-purple);
}

.pagefind-ui.red {
  --pagefind-ui-background: var(--wb-dark-purple);
  width: 100%;
}

.pagefind-ui .pagefind-ui__drawer:not(.pagefind-ui__hidden) {
  padding: 1em;
  overflow-y: auto;
  box-shadow:
    0 10px 10px -5px rgba(0, 0, 0, 0.2),
    0 2px 2px 0 rgba(0, 0, 0, 0.1);
  border-bottom-right-radius: var(--pagefind-ui-border-radius);
  border-bottom-left-radius: var(--pagefind-ui-border-radius);
  background-color: var(--pagefind-ui-background);
  color: var(--wb-muted-purple);
}

.pagefind-ui:has(.pagefind-ui__drawer.pagefind-ui__hidden) + div {
  display: block;
}

.pagefind-ui .pagefind-ui__result-excerpt {
  color: var(--pagefind-ui-primary);
}

.pagefind-ui .pagefind-ui__search-input {
  color: var(--pagefind-ui-primary);
}

.pagefind-ui .pagefind-ui__search-input:before {
  background-color: var(--pagefind-ui-border);
}

.pagefind-ui .pagefind-ui__result-link {
  color: var(--pagefind-ui-text);
}

.pagefind-ui .pagefind-ui__message {
  color: var(--pagefind-ui-text);
}

.pagefind-ui .pagefind-ui__result:last-of-type {
  border-bottom: none !important;
}

.pagefind-ui .pagefind-ui__result-link {
  color: var(--pagefind-ui-primary);
}
