---
export interface Props {
  breadcrumbs?: Array<{ title: string; href: string }>;
}

const { breadcrumbs } = Astro.props;
---

<Fragment>
  {
    breadcrumbs.map(({ title, href }, index) => (
      <>
        <span class="text-muted text-2xl">/</span>
        <a
          class={`text-page mx-1 my-1 inline-flex items-center justify-center rounded-lg text-center font-extrabold leading-snug ${index + 1 == breadcrumbs.length ? 'text-acid-green' : 'text-muted'} shadow-md transition duration-200 ease-in`}
          href={href}
        >
          {title}
        </a>
      </>
    ))
  }
</Fragment>
