---
import { Icon } from 'astro-icon/components';
import Tags from '../blog/Tags.astro';
import { fetchTags } from '~/utils/blog';
import { languageSlug } from '~/utils/permalinks';
import { categoryData } from '~/data';

export interface Props {
  selected?: string;
}

const { selected } = Astro.props;
const categories = ['articles', 'lists'];

const tags = await fetchTags(languageSlug());
---

<div data-filter class="z-10 hidden animate-fade-up bg-muted-purple py-5 dark:bg-darker-purple md:block">
  <div class="mb-3">
    <p class="text-muted z-10 pb-3 font-semibold dark:text-slate-400">Format:</p>
    {
      categories.map((slug) => {
        return (
          <a
            class={`btn mr-2 ${slug === selected && 'btn-primary'}`}
            href={`${(slug === selected && '/blog') || `/category/${slug}`}`}
          >
            <Icon class="mr-1 h-5 w-5" name={categoryData[slug].icon} />
            {slug}
          </a>
        );
      })
    }
  </div>
  <div>
    <p class="text-muted z-10 pb-3 font-semibold dark:text-slate-400">Tags:</p>
    <Tags tags={tags} />
  </div>
</div>

<button
  class="fixed bottom-20 right-3 z-10 rounded-2xl bg-grape p-3 text-white shadow-md dark:bg-cherry dark:text-acid-green md:hidden"
  data-toggle-filter
  aria-label="Post filter"
>
  <Icon class="h-8 w-8" name="material-symbols:filter-list-rounded" />
</button>
