---
import { Icon } from 'astro-icon/components';
import Search from 'astro-pagefind/components/Search';
---

<dialog data-search-dialog>
  <button
    data-search-close
    class="bg-grapes absolute bottom-3 right-3 h-12 w-12 rounded-full text-acid-green text-white dark:bg-cherry dark:text-acid-green"
    autofocus
  >
    <Icon class="m-auto h-8 w-8 py-2" name="ep:close-bold" />
  </button>
  <p
    class="mx-auto mb-4 flex w-4/5 text-2xl font-bold text-darker-purple dark:text-light-purple"
    aria-label="Share button"
  >
    <Icon class="h-8 w-8 md:p-1" name="tabler:search" />
    <span class="m-0 mx-2 md:block">Search:</span>
  </p>
  <Search id="search" className="pagefind-ui" uiOptions={{ showImages: false }} />
</dialog>
