---
import { Icon } from 'astro-icon/components';
import Search from 'astro-pagefind/components/Search';
---

<dialog data-search-dialog class="fixed m-auto h-fit rounded-[2rem] p-2 dark:bg-darker-purple/90">
  <Search
    id="search"
    className="pagefind-ui mb-14"
    uiOptions={{
      showImages: false,
      translations: {
        placeholder: 'Pesquisar',
      },
    }}
  />
  <button
    data-search-close
    class="sticky bottom-2 left-4 inline-flex w-fit flex-row items-center rounded-full bg-cherry px-3 py-2 font-medium text-acid-green"
  >
    <Icon class="h-7 w-7" name="tabler:x" />
  </button>
</dialog>
