---
import { Icon } from 'astro-icon/components';
import Search from 'astro-pagefind/components/Search';
---

<dialog data-search-dialog>
  <button
    data-search-close
    class="bg-grapes absolute bottom-3 right-3 h-12 w-12 rounded-full text-acid-green text-white dark:bg-cherry dark:text-acid-green"
    autofocus
  >
    <Icon class="m-auto h-8 w-8 py-2" name="ep:close-bold" />
  </button>
  <Search id="search" className="pagefind-ui" uiOptions={{ showImages: false }} />
</dialog>
