---
import Layout from '~/layouts/PageLayout.astro';
import Headline from '~/components/blog/Headline.astro';
import ExternalLink from '~/components/blog/content/ExternalLink.astro';

import { Picture } from '@astrojs/image/components';
---

<Layout>
  <section class="px-6 sm:px-6 py-12 sm:py-16 lg:py-20 mx-auto max-w-7xl">
    <Headline>I'm a developer intrigued by technology shaping society</Headline>
    Chat with me about
    <ul>
      <li>Free and Open Source Software</li>
      <li>🐧 Linux Ricing</li>
      <li>Web development technologies</li>
      <li>Electronic Music</li>
    </ul>
  </section>
</Layout>
