---
export interface Props {
  title: string;
  description: string;
  examples: {
    command: string;
    description: string;
  }[];
}

const { title, description, examples } = Astro.props;
---

<div class="p-1 not-prose">
  <div class="relative">
    <pre
      class="prose bg-black text-green-500 h-72 md:h-60 w-full max-w-none overflow-scroll pb-20 rounded-tl-md rounded-tr-md px-5">
        <slot>
gabo@book:&#126;$
        </slot>
    </pre>
    <div class="absolute bottom-1 left-0">
      <h1 class="text-[#00ffb7] bg-[#900048] rounded-md w-fit px-2 py-1 text-2xl mx-3 my-2">
        {title}
      </h1>
      <h2 class="text-[#19002e] bg-[#c79bff] px-3 py-1 w-fit rounded-tr-md rounded-br-md mb-2 leading-snug">
        {description}
      </h2>
    </div>
  </div>
  <ul class="text-[#00ffb7] bg-[#900048] rounded-md py-3 px-3 h-52 md:h-full">
    {
      examples.map((example) => (
        <li>
          <p class="text-sm mb-1 ml-1 leading-tight">{example.description}</p>
          <p class="bg-[#19002e] p-1 text-white rounded-md pl-3 mb-2 font-normal leading-snug">{example.command}</p>
        </li>
      ))
    }
  </ul>
</div>
