---
export interface Props {
  href: string;
}

const { href } = Astro.props;
---

<span class="not-prose">
  <a class="py-2 px-3 dark:bg-[#c79bff] rounded-md dark:text-[#19002e] after:content-['_↗']"
      href={href}>
    <slot/>
  </a>
</span>