---
import { Icon } from 'astro-icon';

export interface Props {
  href: string;
  class?: string;
  variant?: 'primary' | 'secondary';
}

const variants = {
  primary: 'bg-grape text-white dark:bg-cherry dark:text-acid-green',
  secondary: 'bg-light-purple text-white dark:bg-light-purple dark:text-darker-purple',
};

const { href, variant, class: className } = Astro.props;
---

<span class="not-prose">
  <a
    class={`inline-flex flex-row mb-2 items-center w-fit py-2 px-3 rounded-2xl shadow-sm ${className} ${
      variant ? variants[variant] : variants.primary
    }`}
    href={href}
  >
    <span>
      <slot />
    </span>

    <Icon name={'eva:diagonal-arrow-right-up-fill'} class="w-5 h-5 ml-2" />
  </a>
</span>
