---
import { Icon } from 'astro-icon/components';

export interface Props {
  href: string;
  class?: string;
  variant?: 'primary' | 'secondary';
}

const variants = {
  primary: 'bg-grape text-white dark:bg-cherry dark:text-acid-green',
  secondary: 'bg-light-purple text-darker-purple dark:bg-light-purple dark:text-darker-purple',
};

const { href, variant, class: className } = Astro.props;
---

<span class="not-prose">
  <a
    class:list={[
      'mb-2 inline-flex w-fit flex-row items-center rounded-2xl px-3 py-2 shadow-sm',
      className,
      variant ? variants[variant] : variants.primary,
    ]}
    href={href}
  >
    <span>
      <slot />
    </span>

    <Icon name={'eva:diagonal-arrow-right-up-fill'} class="ml-2 h-5 w-5" />
  </a>
</span>
