---
import { Icon } from 'astro-icon/components';
---

<div class="slider-container not-prose relative overflow-auto rounded-xl pt-2 text-light-purple">
  <div
    class="slider-grid relative flex w-full snap-x items-center overflow-x-auto scroll-smooth"
    style="scrollbar-color: var(--wb-acid-green) #240041ee; scrollbar-width: thin"
  >
    <slot />
  </div>
  <div class="flex justify-center gap-3 py-2">
    <button
      class="preview rounded-bl-3xl rounded-br-lg rounded-tl-3xl rounded-tr-lg bg-light-purple text-darker-purple drop-shadow-lg active:bg-acid-green active:text-cherry"
      aria-label="Preview Slide"
    >
      <Icon class="mx-3 h-8 w-8 py-2" name="ep:arrow-left-bold" />
    </button>
    <button
      class="next rounded-bl-lg rounded-br-3xl rounded-tl-lg rounded-tr-3xl bg-light-purple text-darker-purple drop-shadow-lg active:bg-acid-green active:text-cherry"
      aria-label="Next Slide"
    >
      <Icon class="mx-3 h-8 w-8 rotate-180 py-2" name="ep:arrow-left-bold" />
    </button>
  </div>
</div>
