---
import { Icon } from 'astro-icon';
---

<div class="slider-container overflow-auto relative rounded-xl text-light-purple not-prose pt-2">
  <div
    class="slider-grid relative flex items-center w-full overflow-x-auto snap-x scroll-smooth"
    style="scrollbar-color: var(--wb-acid-green) #240041ee; scrollbar-width: thin"
  >
    <slot />
  </div>
  <div class="flex gap-3 justify-center py-2">
    <button
      class="preview bg-light-purple text-darker-purple drop-shadow-lg active:bg-acid-green active:text-cherry rounded-tr-lg rounded-br-lg rounded-tl-3xl rounded-bl-3xl"
      aria-label="Preview Slide"
    >
      <Icon class="py-2 mx-3 w-8 h-8" name="ep:arrow-left-bold" />
    </button>
    <button
      class="next bg-light-purple text-darker-purple drop-shadow-lg active:bg-acid-green active:text-cherry rounded-tl-lg rounded-bl-lg rounded-tr-3xl rounded-br-3xl"
      aria-label="Next Slide"
    >
      <Icon class="py-2 mx-3 w-8 h-8 rotate-180" name="ep:arrow-left-bold" />
    </button>
  </div>
</div>
