---
export interface Props {
  src: string;
  title: string;
}

const { src, title } = Astro.props;
---

<div class="relative overflow-hidden rounded-sm w-full pt-[56.25%]">
  <iframe class="absolute top-0 left-0 bottom-0 right-0 w-full h-full" src={src} title={title}></iframe>
</div>
