<div class="fixed w-screen object-cover">
  <svg
    class="3xl:h-full 3xl:w-auto h-screen"
    viewBox="0 0 1860 661"
    version="1.1"
    id="svg8"
    xmlns="http://www.w3.org/2000/svg"
    xmlns:svg="http://www.w3.org/2000/svg"
    xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#"
    xmlns:cc="http://creativecommons.org/ns#"
    xmlns:dc="http://purl.org/dc/elements/1.1/"
  >
    <defs id="defs2">
      <rect x="171.10684" y="501.07793" width="41.359667" height="13.14879" id="rect33895"></rect>
      <linearGradient id="c79bff">
        <stop style="stop-color:#00ffb7;stop-opacity:1;" offset="0" id="stop24304"></stop>
      </linearGradient>
      <linearGradient id="linearGradient24268">
        <stop style="stop-color:#00ffb7;stop-opacity:1;" offset="0" id="stop24266"></stop>
      </linearGradient>
      <linearGradient id="linearGradient23672">
        <stop style="stop-color:#0048ff;stop-opacity:1;" offset="0" id="stop23670"></stop>
      </linearGradient>
      <rect x="1794.3163" y="306.52615" width="361.86185" height="66.072304" id="rect873"></rect>
    </defs>
    <metadata id="metadata5">
      <rdf:RDF>
        <cc:Work rdf:about="">
          <dc:format>image/svg+xml</dc:format>
          <dc:type rdf:resource="http://purl.org/dc/dcmitype/StillImage"></dc:type>
        </cc:Work>
      </rdf:RDF>
    </metadata>
    <rect
      style="display:none;opacity:0.990951;fill:#19002e;fill-opacity:1;stroke-width:0.203731"
      id="rect833"
      width="1860"
      height="661"
      x="0"
      y="0"></rect>
    <g id="layer2" transform="translate(46.791904,16.141394)" style="display:inline">
      <path
        style="display:inline;opacity:0.121167;fill:none;fill-opacity:1;fill-rule:evenodd;stroke:#c79bff;stroke-width:26.058;stroke-linecap:round;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-dashoffset:0;stroke-opacity:0.998322;paint-order:fill markers stroke"
        d="M 1475.2947,-101.36238 1439.9799,54.455827"
        id="path1101-6-9-8-7-2-8-2-9-9-6-0-2-7-6-1-3-2-1-5-9-9-1-4-9-1-0-7-5-8-7-0-5-5-2"></path>
      <path
        style="display:inline;opacity:0.121167;fill:none;fill-opacity:1;fill-rule:evenodd;stroke:#c79bff;stroke-width:26.058;stroke-linecap:round;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-dashoffset:0;stroke-opacity:0.998322;paint-order:fill markers stroke"
        d="M 981.00705,103.61186 1439.9799,54.455827"
        id="path1101-6-9-8-7-2-8-2-9-9-6-0-2-7-6-1-3-2-1-5-9-9-1-4-9-1-0-7-5-8-7-0-5-5"></path>
      <path
        style="display:inline;opacity:0.121167;fill:none;fill-opacity:1;fill-rule:evenodd;stroke:#c79bff;stroke-width:26.058;stroke-linecap:round;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-dashoffset:0;stroke-opacity:0.998322;paint-order:fill markers stroke"
        d="m 1666.7275,511.53506 -222.8213,85.74072"
        id="path1101-6-9-8-7-2-8-2-9-9-6-0-2-7-6-1-3-2-1-5-9-9-1-4-9-1-0-7-5-8-7-0-5"></path>
      <path
        style="display:inline;opacity:0.121167;fill:none;fill-opacity:1;fill-rule:evenodd;stroke:#c79bff;stroke-width:26.058;stroke-linecap:round;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-dashoffset:0;stroke-opacity:0.998322;paint-order:fill markers stroke"
        d="m 1443.9062,597.27578 83.2267,133.17525"
        id="path1101-6-9-8-7-2-8-2-9-9-6-0-2-7-6-1-3-2-1-5-9-9-1-4-9-1-0-7-5-8-7-8-0-4-2-9-6-1-0-4-2-2-2-0"></path>
      <path
        style="display:inline;opacity:0.121167;fill:none;fill-opacity:1;fill-rule:evenodd;stroke:#c79bff;stroke-width:26.058;stroke-linecap:round;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-dashoffset:0;stroke-opacity:0.998322;paint-order:fill markers stroke"
        d="m 1666.7275,511.53506 229.3001,206.84958"
        id="path1101-6-9-8-7-2-8-2-9-9-6-0-2-7-6-1-3-2-1-5-9-9-1-4-9-1-0-7-5-8-7-8-0-4-2-9-6-1-0-4-2-2-2"></path>
      <path
        style="display:inline;opacity:0.121167;fill:none;fill-opacity:1;fill-rule:evenodd;stroke:#c79bff;stroke-width:26.058;stroke-linecap:round;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-dashoffset:0;stroke-opacity:0.998322;paint-order:fill markers stroke"
        d="M 1439.9799,54.455827 1945.5154,43.640044"
        id="path1101-6-9-8-7-2-8-2-9-9-6-0-2-7-6-1-3-2-1-5-9-9-1-4-9-1-0-7-5-8-7-8-0-4-2-9-6-1-0-4-2-2"></path>
      <path
        style="display:inline;opacity:0.121167;fill:none;fill-opacity:1;fill-rule:evenodd;stroke:#c79bff;stroke-width:26.058;stroke-linecap:round;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-dashoffset:0;stroke-opacity:0.998322;paint-order:fill markers stroke"
        d="M 1666.7275,511.53506 1945.5154,43.640044"
        id="path1101-6-9-8-7-2-8-2-9-9-6-0-2-7-6-1-3-2-1-5-9-9-1-4-9-1-0-7-5-8-7-8-0-4-2-9-6-1-0-4-2"></path>
      <path
        style="display:inline;opacity:0.121167;fill:none;fill-opacity:1;fill-rule:evenodd;stroke:#c79bff;stroke-width:26.058;stroke-linecap:round;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-dashoffset:0;stroke-opacity:0.998322;paint-order:fill markers stroke"
        d="m 1218.1225,489.16149 448.605,22.37357"
        id="path1101-6-9-8-7-2-8-2-9-9-6-0-2-7-6-1-3-2-1-5-9-9-1-4-9-1-0-7-5-8-7-8-0-4-2-9-6-1-0-4"></path>
      <path
        style="display:inline;opacity:0.121167;fill:none;fill-opacity:1;fill-rule:evenodd;stroke:#c79bff;stroke-width:26.058;stroke-linecap:round;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-dashoffset:0;stroke-opacity:0.998322;paint-order:fill markers stroke"
        d="m 1439.9799,54.455827 84.5986,146.337123"
        id="path1101-6-9-8-7-2-8-2-9-9-6-0-2-7-6-1-3-2-1-5-9-9-1-4-9-1-0-7-5-8-7-8-0-4-2-9-6-1-0"></path>
      <path
        style="display:inline;opacity:0.121167;fill:none;fill-opacity:1;fill-rule:evenodd;stroke:#c79bff;stroke-width:26.058;stroke-linecap:round;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-dashoffset:0;stroke-opacity:0.998322;paint-order:fill markers stroke"
        d="M 1945.5154,43.640044 1524.5785,200.79295"
        id="path1101-6-9-8-7-2-8-2-9-9-6-0-2-7-6-1-3-2-1-5-9-9-1-4-9-1-0-7-5-8-7-8-0-4-2-9-6-1"></path>
      <path
        style="display:inline;opacity:0.121167;fill:none;fill-opacity:1;fill-rule:evenodd;stroke:#c79bff;stroke-width:26.058;stroke-linecap:round;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-dashoffset:0;stroke-opacity:0.998322;paint-order:fill markers stroke"
        d="M 1443.9062,597.27578 1218.1225,489.16149"
        id="path1101-6-9-8-7-2-8-2-9-9-6-0-2-7-6-1-3-2-1-5-9-9-1-4-9-1-0-7-5-8-7-8-0-4-2-9-6"></path>
      <path
        style="display:inline;opacity:0.121167;fill:none;fill-opacity:1;fill-rule:evenodd;stroke:#c79bff;stroke-width:26.058;stroke-linecap:round;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-dashoffset:0;stroke-opacity:0.998322;paint-order:fill markers stroke"
        d="m 1524.5785,200.79295 -306.456,288.36854"
        id="path1101-6-9-8-7-2-8-2-9-9-6-0-2-7-6-1-3-2-1-5-9-9-1-4-9-1-0-7-5-8-7-8-0-4-2-9"></path>
      <path
        style="display:inline;opacity:0.121167;fill:none;fill-opacity:1;fill-rule:evenodd;stroke:#c79bff;stroke-width:26.058;stroke-linecap:round;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-dashoffset:0;stroke-opacity:0.998322;paint-order:fill markers stroke"
        d="M 1231.2231,222.45442 1439.9799,54.455827"
        id="path1101-6-9-8-7-2-8-2-9-9-6-0-2-7-6-1-3-2-1-5-9-9-1-4-9-1-0-7-5-8-7-8-0-4-2"></path>
      <path
        style="display:inline;opacity:0.121167;fill:none;fill-opacity:1;fill-rule:evenodd;stroke:#c79bff;stroke-width:26.058;stroke-linecap:round;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-dashoffset:0;stroke-opacity:0.998322;paint-order:fill markers stroke"
        d="m 1231.2231,222.45442 -172.9929,39.66783"
        id="path1101-6-9-8-7-2-8-2-9-9-6-0-2-7-6-1-3-2-1-5-9-9-1-4-9-1-0-7-5-8-7-8-0-4"></path>
      <path
        style="display:inline;opacity:0.121167;fill:none;fill-opacity:1;fill-rule:evenodd;stroke:#c79bff;stroke-width:26.058;stroke-linecap:round;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-dashoffset:0;stroke-opacity:0.998322;paint-order:fill markers stroke"
        d="m 1231.2231,222.45442 -13.1006,266.70707"
        id="path1101-6-9-8-7-2-8-2-9-9-6-0-2-7-6-1-3-2-1-5-9-9-1-4-9-1-0-7-5-8-7-8-0"></path>
      <path
        style="display:inline;opacity:0.121167;fill:none;fill-opacity:1;fill-rule:evenodd;stroke:#c79bff;stroke-width:26.058;stroke-linecap:round;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-dashoffset:0;stroke-opacity:0.998322;paint-order:fill markers stroke"
        d="M 545.61551,-46.849486 450.16293,167.08865"
        id="path1101-6-9-8-7-2-8-2-9-9-6-0-2-7-6-1-3-2-1-5-9-9-1-4-9-1-0-7-5-8-7-8"></path>
      <path
        style="display:inline;opacity:0.121167;fill:none;fill-opacity:1;fill-rule:evenodd;stroke:#c79bff;stroke-width:26.058;stroke-linecap:round;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-dashoffset:0;stroke-opacity:0.998322;paint-order:fill markers stroke"
        d="M 414.93643,830.65921 524.83328,493.12417"
        id="path1101-6-9-8-7-2-8-2-9-9-6-0-2-7-6-1-3-2-1-5-9-9-1-4-9-1-0-7-5-8-7-0-4"></path>
      <path
        style="display:inline;opacity:0.121167;fill:none;fill-opacity:1;fill-rule:evenodd;stroke:#c79bff;stroke-width:26.058;stroke-linecap:round;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-dashoffset:0;stroke-opacity:0.998322;paint-order:fill markers stroke"
        d="M 897.94925,740.55462 735.04995,516.11135"
        id="path1101-6-9-8-7-2-8-2-9-9-6-0-2-7-6-1-3-2-1-5-9-9-1-4-9-1-0-7-5-8-7-0"></path>
      <path
        style="display:inline;opacity:0.121167;fill:none;fill-opacity:1;fill-rule:evenodd;stroke:#c79bff;stroke-width:26.058;stroke-linecap:round;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-dashoffset:0;stroke-opacity:0.998322;paint-order:fill markers stroke"
        d="M 345.90836,753.86204 275.0693,559.85336"
        id="path1101-6-9-8-7-2-8-2-9-9-6-0-2-7-6-1-3-2-1-5-9-9-1-4-9-1-0-7-5-8-7"></path>
      <path
        style="display:inline;opacity:0.121167;fill:none;fill-opacity:1;fill-rule:evenodd;stroke:#c79bff;stroke-width:26.058;stroke-linecap:round;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-dashoffset:0;stroke-opacity:0.998322;paint-order:fill markers stroke"
        d="M -101.02161,782.56689 142.82809,395.6282"
        id="path1101-6-9-8-7-2-8-2-9-9-6-0-2-7-6-1-3-2-1-5-9-9-1-4-9-1-0-7-5-8"></path>
      <path
        style="display:inline;opacity:0.121167;fill:none;fill-opacity:1;fill-rule:evenodd;stroke:#c79bff;stroke-width:26.058;stroke-linecap:round;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-dashoffset:0;stroke-opacity:0.998322;paint-order:fill markers stroke"
        d="M 132.6432,167.13929 370.71823,-52.87676"
        id="path1101-6-9-8-7-2-8-2-9-9-6-0-2-7-6-1-3-2-1-5-9-9-1-4-9-1-0-7-5"></path>
      <path
        style="display:inline;opacity:0.121167;fill:none;fill-opacity:1;fill-rule:evenodd;stroke:#c79bff;stroke-width:26.058;stroke-linecap:round;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-dashoffset:0;stroke-opacity:0.998322;paint-order:fill markers stroke"
        d="M 132.6432,167.13929 5.6132274,-143.06884"
        id="path1101-6-9-8-7-2-8-2-9-9-6-0-2-7-6-1-3-2-1-5-9-9-1-4-9-1-0-7"></path>
      <path
        style="display:inline;opacity:0.121167;fill:none;fill-opacity:1;fill-rule:evenodd;stroke:#c79bff;stroke-width:26.058;stroke-linecap:round;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-dashoffset:0;stroke-opacity:0.998322;paint-order:fill markers stroke"
        d="M 132.6432,167.13929 142.82809,395.6282"
        id="path1101-6-9-8-7-2-8-2-9-9-6-0-2-7-6-1-3-2-1-5-9-9-1-4-9-1-0"></path>
      <path
        style="display:inline;opacity:0.121167;fill:none;fill-opacity:1;fill-rule:evenodd;stroke:#c79bff;stroke-width:26.058;stroke-linecap:round;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-dashoffset:0;stroke-opacity:0.998322;paint-order:fill markers stroke"
        d="M 132.6432,167.13929 -208.10341,410.36405"
        id="path1101-6-9-8-7-2-8-2-9-9-6-0-2-7-6-1-3-2-1-5-9-9-1-4-9-1"></path>
      <path
        style="display:inline;opacity:0.121167;fill:none;fill-opacity:1;fill-rule:evenodd;stroke:#c79bff;stroke-width:26.058;stroke-linecap:round;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-dashoffset:0;stroke-opacity:0.998322;paint-order:fill markers stroke"
        d="M 346.30276,271.48416 524.83328,493.12417"
        id="path1101-6-9-8-7-2-8-2-9-9-6-0-2-7-6-1-3-2-1-5-9-9-1-4-9"></path>
      <path
        style="display:inline;opacity:0.121167;fill:none;fill-opacity:1;fill-rule:evenodd;stroke:#c79bff;stroke-width:26.058;stroke-linecap:round;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-dashoffset:0;stroke-opacity:0.998322;paint-order:fill markers stroke"
        d="M 142.82809,395.6282 346.30276,271.48416"
        id="path1101-6-9-8-7-2-8-2-9-9-6-0-2-7-6-1-3-2-1-5-9-9-1-4"></path>
      <path
        style="display:inline;opacity:0.121167;fill:none;fill-opacity:1;fill-rule:evenodd;stroke:#c79bff;stroke-width:26.058;stroke-linecap:round;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-dashoffset:0;stroke-opacity:0.998322;paint-order:fill markers stroke"
        d="M 346.30276,271.48416 132.6432,167.13929"
        id="path1101-6-9-8-7-2-8-2-9-9-6-0-2-7-6-1-3-2-1-5-9-9-1"></path>
      <path
        style="display:inline;opacity:0.121167;fill:none;fill-opacity:1;fill-rule:evenodd;stroke:#c79bff;stroke-width:26.058;stroke-linecap:round;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-dashoffset:0;stroke-opacity:0.998322;paint-order:fill markers stroke"
        d="m 132.6432,167.13929 317.51973,-0.0506"
        id="path1101-6-9-8-7-2-8-2-9-9-6-0-2-7-6-1-3-2-1-5-9-9"></path>
      <path
        style="display:inline;opacity:0.121167;fill:none;fill-opacity:1;fill-rule:evenodd;stroke:#c79bff;stroke-width:26.058;stroke-linecap:round;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-dashoffset:0;stroke-opacity:0.998322;paint-order:fill markers stroke"
        d="m 986.23401,108.3744 71.99619,153.74785"
        id="path1101-6-9-8-7-2-8-2-9-9-6-0-2-7-6-1-3-2-1-5-9"></path>
      <path
        style="display:inline;opacity:0.121167;fill:none;fill-opacity:1;fill-rule:evenodd;stroke:#c79bff;stroke-width:26.058;stroke-linecap:round;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-dashoffset:0;stroke-opacity:0.998322;paint-order:fill markers stroke"
        d="m 1524.5785,200.79295 142.149,310.74211"
        id="path1101-6-9-8-7-2-8-2-9-9-6-0-2-7-6-1-3-2-1-5"></path>
      <path
        style="display:inline;opacity:0.121167;fill:none;fill-opacity:1;fill-rule:evenodd;stroke:#c79bff;stroke-width:26.058;stroke-linecap:round;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-dashoffset:0;stroke-opacity:0.998322;paint-order:fill markers stroke"
        d="m 1235.9799,219.31181 288.5986,-18.51886"
        id="path1101-6-9-8-7-2-8-2-9-9-6-0-2-7-6-1-3-2-1"></path>
      <path
        style="display:inline;opacity:0.121167;fill:none;fill-opacity:1;fill-rule:evenodd;stroke:#c79bff;stroke-width:26.058;stroke-linecap:round;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-dashoffset:0;stroke-opacity:0.998322;paint-order:fill markers stroke"
        d="m 735.04995,516.11135 465.18335,238.0864"
        id="path1101-6-9-8-7-2-8-2-9-9-6-0-2-7-6-1-3-2"></path>
      <path
        style="display:inline;opacity:0.121167;fill:none;fill-opacity:1;fill-rule:evenodd;stroke:#c79bff;stroke-width:26.058;stroke-linecap:round;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-dashoffset:0;stroke-opacity:0.998322;paint-order:fill markers stroke"
        d="m 1058.2302,262.12225 159.8923,227.03924"
        id="path1101-6-9-8-7-2-8-2-9-9-6-0-2-7-6-1-3"></path>
      <path
        style="display:inline;opacity:0.121167;fill:none;fill-opacity:1;fill-rule:evenodd;stroke:#c79bff;stroke-width:26.058;stroke-linecap:round;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-dashoffset:0;stroke-opacity:0.998322;paint-order:fill markers stroke"
        d="M 981.00705,103.61186 708.18427,-99.385265"
        id="path1101-6-9-8-7-2-8-2-9-9-6-0-2-7-6-1"></path>
      <path
        style="display:inline;opacity:0.121167;fill:none;fill-opacity:1;fill-rule:evenodd;stroke:#c79bff;stroke-width:26.058;stroke-linecap:round;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-dashoffset:0;stroke-opacity:0.998322;paint-order:fill markers stroke"
        d="M 981.00705,103.61186 722.01852,238.73071"
        id="path1101-6-9-8-7-2-8-2-9-9-6-0-2-7-6"></path>
      <path
        style="display:inline;opacity:0.121167;fill:none;fill-opacity:1;fill-rule:evenodd;stroke:#c79bff;stroke-width:26.058;stroke-linecap:round;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-dashoffset:0;stroke-opacity:0.998322;paint-order:fill markers stroke"
        d="M 923.957,372.62063 1058.2302,262.12225"
        id="path1101-6-9-8-7-2-8-2-9-9-6-0-2-7"></path>
      <path
        style="display:inline;opacity:0.121167;fill:none;fill-opacity:1;fill-rule:evenodd;stroke:#c79bff;stroke-width:26.058;stroke-linecap:round;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-dashoffset:0;stroke-opacity:0.998322;paint-order:fill markers stroke"
        d="m 740.2771,520.87396 477.8454,-31.71247"
        id="path1101-6-9-8-7-2-8-2-9-9-6-0-2"></path>
      <path
        style="display:inline;opacity:0.121167;fill:none;fill-opacity:1;fill-rule:evenodd;stroke:#c79bff;stroke-width:26.058;stroke-linecap:round;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-dashoffset:0;stroke-opacity:0.998322;paint-order:fill markers stroke"
        d="M 450.16293,167.08865 981.00705,103.61186"
        id="path1101-6-9-8-7-2-8-2-9-9-6-0"></path>
      <path
        style="display:inline;opacity:0.121167;fill:none;fill-opacity:1;fill-rule:evenodd;stroke:#c79bff;stroke-width:26.058;stroke-linecap:round;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-dashoffset:0;stroke-opacity:0.998322;paint-order:fill markers stroke"
        d="M 346.30276,271.48416 275.0693,559.85336"
        id="path1101-6-9-8-7-2-8-2-9-9-6"></path>
      <path
        style="display:inline;opacity:0.121167;fill:none;fill-opacity:1;fill-rule:evenodd;stroke:#c79bff;stroke-width:26.058;stroke-linecap:round;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-dashoffset:0;stroke-opacity:0.998322;paint-order:fill markers stroke"
        d="M 142.82809,395.6282 275.0693,559.85336"
        id="path1101-6-9-8-7-2-8-2-9-9"></path>
      <path
        style="display:inline;opacity:0.121167;fill:none;fill-opacity:1;fill-rule:evenodd;stroke:#c79bff;stroke-width:26.058;stroke-linecap:round;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-dashoffset:0;stroke-opacity:0.998322;paint-order:fill markers stroke"
        d="M 722.01852,238.73071 524.83328,493.12417"
        id="path1101-6-9-8-7-2-8-2-9"></path>
      <path
        style="display:inline;opacity:0.121167;fill:none;fill-opacity:1;fill-rule:evenodd;stroke:#c79bff;stroke-width:26.058;stroke-linecap:round;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-dashoffset:0;stroke-opacity:0.998322;paint-order:fill markers stroke"
        d="M 450.16293,167.08865 346.30276,271.48416"
        id="path1101-6-9-8-7-2-8-2"></path>
      <path
        style="display:inline;opacity:0.121167;fill:none;fill-opacity:1;fill-rule:evenodd;stroke:#c79bff;stroke-width:26.058;stroke-linecap:round;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-dashoffset:0;stroke-opacity:0.998322;paint-order:fill markers stroke"
        d="m 450.16293,167.08865 271.85559,71.64206"
        id="path1101-6-9-8-7-2-8"></path>
      <path
        style="display:inline;opacity:0.121167;fill:none;fill-opacity:1;fill-rule:evenodd;stroke:#c79bff;stroke-width:26.058;stroke-linecap:round;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-dashoffset:0;stroke-opacity:0.998322;paint-order:fill markers stroke"
        d="M 524.83328,493.12417 450.16293,167.08865"
        id="path1101-6-9-8-7-2"></path>
      <path
        style="display:inline;opacity:0.121167;fill:none;fill-opacity:1;fill-rule:evenodd;stroke:#c79bff;stroke-width:26.058;stroke-linecap:round;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-dashoffset:0;stroke-opacity:0.998322;paint-order:fill markers stroke"
        d="M 735.04995,516.11135 722.01852,238.73071"
        id="path1101-6-9-8-7"></path>
      <path
        style="display:inline;opacity:0.121167;fill:none;fill-opacity:1;fill-rule:evenodd;stroke:#c79bff;stroke-width:26.058;stroke-linecap:round;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-dashoffset:0;stroke-opacity:0.998322;paint-order:fill markers stroke"
        d="M 923.957,372.62063 722.01852,238.73071"
        id="path1101-6-9-8"></path>
      <path
        style="display:inline;opacity:0.121167;fill:none;fill-opacity:1;fill-rule:evenodd;stroke:#c79bff;stroke-width:26.058;stroke-linecap:round;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-dashoffset:0;stroke-opacity:0.998322;paint-order:fill markers stroke"
        d="M 735.04995,516.11135 923.957,372.62063"
        id="path1101-6-9"></path>
      <path
        style="display:inline;opacity:0.121167;fill:none;fill-opacity:1;fill-rule:evenodd;stroke:#c79bff;stroke-width:26.058;stroke-linecap:round;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-dashoffset:0;stroke-opacity:0.998322;paint-order:fill markers stroke"
        d="m 524.83328,493.12417 210.21667,22.98718"
        id="path1101-6"></path>
      <path
        style="display:inline;opacity:0.121167;fill:none;fill-opacity:1;fill-rule:evenodd;stroke:#c79bff;stroke-width:26.058;stroke-linecap:round;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-dashoffset:0;stroke-opacity:0.998322;paint-order:fill markers stroke"
        d="M 275.0693,559.85336 524.83328,493.12417"
        id="path1101"></path>
      <path
        style="display:inline;opacity:0.121167;fill:none;fill-opacity:1;fill-rule:evenodd;stroke:#c79bff;stroke-width:26.058;stroke-linecap:round;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-dashoffset:0;stroke-opacity:0.998322;paint-order:fill markers stroke"
        d="m 1218.1225,489.16149 -17.8892,265.03626"
        id="path1101-6-9-8-7-2-8-2-9-9-6-0-2-7-6-1-3-2-6"></path>
      <path
        style="display:inline;opacity:0.121167;fill:none;fill-opacity:1;fill-rule:evenodd;stroke:#c79bff;stroke-width:26.058;stroke-linecap:round;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-dashoffset:0;stroke-opacity:0.998322;paint-order:fill markers stroke"
        d="M 1443.9062,597.27578 1200.2333,754.19775"
        id="path1101-6-9-8-7-2-8-2-9-9-6-0-2-7-6-1-3-2-6-2"></path>
      <path
        style="display:inline;opacity:0.121167;fill:none;fill-opacity:1;fill-rule:evenodd;stroke:#c79bff;stroke-width:26.058;stroke-linecap:round;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-dashoffset:0;stroke-opacity:0.998322;paint-order:fill markers stroke"
        d="M 1218.1225,489.16149 923.957,372.62063"
        id="path1101-6-9-8-7-2-8-2-9-9-6-0-2-7-6-1-3-2-6-7"></path>
      <path
        style="display:inline;opacity:0.121167;fill:none;fill-opacity:1;fill-rule:evenodd;stroke:#c79bff;stroke-width:26.058;stroke-linecap:round;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-dashoffset:0;stroke-opacity:0.998322;paint-order:fill markers stroke"
        d="M 1264.9144,505.30289 944.74115,756.69601"
        id="path1101-6-9-8-7-2-8-2-9-9-6-0-2-7-6-1-3-2-6-9"
        transform="translate(-46.791904,-16.141394)"></path>
      <path
        style="fill:none;fill-rule:evenodd;stroke:#000000;stroke-width:0.264583px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1"
        d="m 1892.3505,-450.06188 v 0"
        id="path34053"
        transform="translate(-46.791904,-16.141394)"></path>
      <path
        style="display:inline;opacity:0.121167;fill:none;fill-opacity:1;fill-rule:evenodd;stroke:#c79bff;stroke-width:26.058;stroke-linecap:round;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-dashoffset:0;stroke-opacity:0.998322;paint-order:fill markers stroke"
        d="m 1278.015,238.59581 435.5044,289.08064"
        id="path1101-6-9-8-7-2-8-2-9-9-6-0-2-7-6-1-3-2-6-3"
        transform="translate(-46.791904,-16.141394)"></path>
      <path
        style="display:inline;opacity:0.121167;fill:none;fill-opacity:1;fill-rule:evenodd;stroke:#c79bff;stroke-width:26.058;stroke-linecap:round;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-dashoffset:0;stroke-opacity:0.998322;paint-order:fill markers stroke"
        d="M 1231.2231,222.45442 981.00705,103.61186"
        id="path1101-6-9-8-7-2-8-2-9-9-6-0-2-7-6-1-3-2-6-3-9"></path>
      <path
        style="display:inline;opacity:0.121167;fill:none;fill-opacity:1;fill-rule:evenodd;stroke:#c79bff;stroke-width:26.058;stroke-linecap:round;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-dashoffset:0;stroke-opacity:0.998322;paint-order:fill markers stroke"
        d="m 923.957,372.62063 276.2763,381.57712"
        id="path1101-6-9-8-7-2-8-2-9-9-6-0-2-7-6-1-3-2-6-3-9-2"></path>
      <path
        style="display:inline;opacity:0.121167;fill:none;fill-opacity:1;fill-rule:evenodd;stroke:#c79bff;stroke-width:26.058;stroke-linecap:round;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-dashoffset:0;stroke-opacity:0.998322;paint-order:fill markers stroke"
        d="M 198.74261,-86.832536 981.00705,103.61186"
        id="path1101-6-9-8-7-2-8-2-9-9-6-0-2-7-6-1-3-2-6-3-9-8"></path>
      <path
        style="display:inline;opacity:0.121167;fill:none;fill-opacity:1;fill-rule:evenodd;stroke:#c79bff;stroke-width:26.058;stroke-linecap:round;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-dashoffset:0;stroke-opacity:0.998322;paint-order:fill markers stroke"
        d="m 1439.9799,54.455827 3.9263,542.819953"
        id="path1101-6-9-8-7-2-8-2-9-9-6-0-2-7-6-1-3-2-6-3-9-8-3"></path>
      <path
        style="display:inline;opacity:0.121167;fill:none;fill-opacity:1;fill-rule:evenodd;stroke:#c79bff;stroke-width:26.058;stroke-linecap:round;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-dashoffset:0;stroke-opacity:0.998322;paint-order:fill markers stroke"
        d="M 524.83328,493.12417 708.18427,-99.385265"
        id="path1101-6-9-8-7-2-8-2-9-9-6-0-2-7-6-1-3-2-6-3-9-8-0"></path>
      <path
        style="display:inline;opacity:0.121167;fill:none;fill-opacity:1;fill-rule:evenodd;stroke:#c79bff;stroke-width:26.058;stroke-linecap:round;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-dashoffset:0;stroke-opacity:0.998322;paint-order:fill markers stroke"
        d="M 981.00705,103.61186 1326.3811,-119.89098"
        id="path1101-6-9-8-7-2-8-2-9-9-6-0-2-7-6-1-3-2-6-3-9-8-1"></path>
      <path
        style="display:inline;opacity:0.121167;fill:none;fill-opacity:1;fill-rule:evenodd;stroke:#c79bff;stroke-width:26.058;stroke-linecap:round;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-dashoffset:0;stroke-opacity:0.998322;paint-order:fill markers stroke"
        d="m 1524.5785,200.79295 445.2374,196.31568"
        id="path1101-6-9-8-7-2-8-2-9-9-6-0-2-7-6-1-3-2-6-3-9-8-7"></path>
    </g>
    <g id="layer4" style="display:inline">
      <circle
        style="display:inline;opacity:1;fill:var(--web-node-bg-color);fill-opacity:0.996078;stroke-width:0.0460654"
        id="path835-3"
        cx="970.7489"
        cy="388.76202"
        r="32.32"></circle>
      <circle
        style="display:inline;opacity:1;fill:var(--web-node-bg-color);fill-opacity:0.996078;stroke-width:0.0460654"
        id="path835-4"
        cx="571.62518"
        cy="509.26556"
        r="32.32"></circle>
      <circle
        style="display:inline;opacity:1;fill:var(--web-node-bg-color);fill-opacity:0.996078;stroke-width:0.0460653"
        id="path835-03"
        cx="1264.9144"
        cy="505.30289"
        r="32.32"></circle>
      <circle
        style="display:inline;opacity:1;fill:var(--web-node-bg-color);fill-opacity:0.996078;stroke-width:0.0460654"
        id="path835-9"
        cx="1278.015"
        cy="238.59581"
        r="32.32"></circle>
      <circle
        style="display:inline;opacity:1;fill:var(--web-node-bg-color);fill-opacity:0.996078;stroke-width:0.0460654"
        id="path835-1"
        cx="1571.3704"
        cy="216.93434"
        r="32.32"></circle>
      <circle
        style="display:inline;opacity:1;fill:var(--web-node-bg-color);fill-opacity:0.996078;stroke-width:0.0460654"
        id="path835-96"
        cx="496.95483"
        cy="183.23004"
        r="32.32"></circle>
      <circle
        style="display:inline;opacity:1;fill:var(--web-node-bg-color);fill-opacity:0.996078;stroke-width:0.0460654"
        id="path835-93"
        cx="781.84186"
        cy="532.25275"
        r="32.32"></circle>
      <circle
        style="display:inline;opacity:1;fill:var(--web-node-bg-color);fill-opacity:0.996078;stroke-width:0.0460654"
        id="path835-38"
        cy="411.76959"
        cx="189.62"
        r="32.32"></circle>
      <circle
        style="display:inline;opacity:1;fill:var(--web-node-bg-color);fill-opacity:0.996078;stroke-width:0.0460654"
        id="path835-05"
        cx="393.09467"
        cy="287.62555"
        r="32.32"></circle>
      <circle
        style="display:inline;opacity:1;fill:var(--web-node-bg-color);fill-opacity:0.996078;stroke-width:0.0460654"
        id="path835-6"
        cx="1105.0221"
        cy="278.26364"
        r="32.32"></circle>
      <circle
        style="display:inline;opacity:1;fill:var(--web-node-bg-color);fill-opacity:0.996078;stroke-width:0.0460654"
        id="path835-64"
        cx="179.4351"
        cy="183.28069"
        r="32.32"></circle>
      <circle
        style="display:inline;opacity:1;fill:var(--web-node-bg-color);fill-opacity:0.996078;stroke-width:0.0460654"
        id="path835-00"
        cx="1713.5194"
        cy="527.67645"
        r="32.32"></circle>
      <circle
        style="display:inline;opacity:1;fill:var(--web-node-bg-color);fill-opacity:0.996078;stroke-width:0.0460654"
        id="path835-46"
        cx="1486.7719"
        cy="70.597221"
        r="32.32"></circle>
      <circle
        style="display:inline;opacity:1;fill:var(--web-node-bg-color);fill-opacity:0.996078;stroke-width:0.0460654"
        id="path835-03-7"
        cx="1490.6981"
        cy="613.41718"
        r="32.32"></circle>
      <a
        id="a1098"
        style="display:inline;opacity:0.95;fill:var(--web-node-bg-color);fill-opacity:0.996078"
        transform="translate(41.565033,11.378913)"></a>
      <circle
        style="display:inline;opacity:1;fill:var(--web-node-bg-color);fill-opacity:0.996078;stroke-width:0.0460654"
        id="path835-03-7-5"
        cx="321.86121"
        cy="575.99475"
        r="32.32"></circle>
      <circle
        style="opacity:1;fill:var(--web-node-bg-color);fill-opacity:0.996078;stroke-width:0.0460654"
        id="path835"
        cx="768.81042"
        cy="254.8721"
        r="32.32"></circle>
      <circle
        style="display:inline;opacity:0.95;fill:var(--web-node-bg-color);fill-opacity:0.996078;stroke-width:0.0460656"
        id="path835-0"
        cx="1027.799"
        cy="119.75325"
        r="32.320114"></circle>
    </g>
    <g id="layer3" style="display:inline">
      <circle
        style="opacity:1;mix-blend-mode:normal;fill:var(--web-node-color);fill-opacity:1;stroke-width:0.041;stroke-miterlimit:4;stroke-dasharray:none"
        id="path835-383"
        cx="768.81042"
        cy="254.8721"
        r="29.11335"></circle>
      <circle
        style="display:inline;opacity:1;mix-blend-mode:normal;fill:var(--web-node-color);fill-opacity:1;stroke-width:0.041;stroke-miterlimit:4;stroke-dasharray:none"
        id="path835-0-8"
        cx="1027.799"
        cy="119.75325"
        r="29.11335"></circle>
      <circle
        style="display:inline;opacity:1;mix-blend-mode:normal;fill:var(--web-node-color);fill-opacity:1;stroke-width:0.041;stroke-miterlimit:4;stroke-dasharray:none"
        id="path835-3-6"
        cx="970.7489"
        cy="388.76202"
        r="29.11335"></circle>
      <circle
        style="display:inline;opacity:1;mix-blend-mode:normal;fill:var(--web-node-color);fill-opacity:1;stroke-width:0.041;stroke-miterlimit:4;stroke-dasharray:none"
        id="path835-4-8"
        cx="571.62518"
        cy="509.26556"
        r="29.11335"></circle>
      <circle
        style="display:inline;opacity:1;mix-blend-mode:normal;fill:var(--web-node-color);fill-opacity:1;stroke-width:0.041;stroke-miterlimit:4;stroke-dasharray:none"
        id="path835-03-8"
        cx="1264.9144"
        cy="505.30289"
        r="29.11335"></circle>
      <circle
        style="display:inline;opacity:1;mix-blend-mode:normal;fill:var(--web-node-color);fill-opacity:1;stroke-width:0.041;stroke-miterlimit:4;stroke-dasharray:none"
        id="path835-9-8"
        cx="1278.015"
        cy="238.59581"
        r="29.11335"></circle>
      <circle
        style="display:inline;opacity:1;mix-blend-mode:normal;fill:var(--web-node-color);fill-opacity:1;stroke-width:0.041;stroke-miterlimit:4;stroke-dasharray:none"
        id="path835-1-2"
        cx="1571.3704"
        cy="216.93434"
        r="29.11335"></circle>
      <circle
        style="display:inline;opacity:1;mix-blend-mode:normal;fill:var(--web-node-color);fill-opacity:1;stroke-width:0.041;stroke-miterlimit:4;stroke-dasharray:none"
        id="path835-96-9"
        cx="496.95483"
        cy="183.23004"
        r="29.11335"></circle>
      <circle
        style="display:inline;opacity:1;mix-blend-mode:normal;fill:var(--web-node-color);fill-opacity:1;stroke-width:0.041;stroke-miterlimit:4;stroke-dasharray:none"
        id="path835-93-8"
        cx="781.84186"
        cy="532.25275"
        r="29.11335"></circle>
      <circle
        style="display:inline;opacity:1;mix-blend-mode:normal;fill:var(--web-node-color);fill-opacity:1;stroke-width:0.041;stroke-miterlimit:4;stroke-dasharray:none"
        id="path835-38-8"
        cy="411.76959"
        cx="189.62"
        r="29.11335"></circle>
      <circle
        style="display:inline;opacity:1;mix-blend-mode:normal;fill:var(--web-node-color);fill-opacity:1;stroke-width:0.041;stroke-miterlimit:4;stroke-dasharray:none"
        id="path835-05-2"
        cx="393.09467"
        cy="287.62555"
        r="29.11335"></circle>
      <circle
        style="display:inline;opacity:1;mix-blend-mode:normal;fill:var(--web-node-color);fill-opacity:1;stroke-width:0.041;stroke-miterlimit:4;stroke-dasharray:none"
        id="path835-6-1"
        cx="1105.0221"
        cy="278.26364"
        r="29.11335"></circle>
      <circle
        style="display:inline;opacity:1;mix-blend-mode:normal;fill:var(--web-node-color);fill-opacity:1;stroke-width:0.041;stroke-miterlimit:4;stroke-dasharray:none"
        id="path835-64-4"
        cx="179.4351"
        cy="183.28069"
        r="29.11335"></circle>
      <circle
        style="display:inline;opacity:1;mix-blend-mode:normal;fill:var(--web-node-color);fill-opacity:1;stroke-width:0.041;stroke-miterlimit:4;stroke-dasharray:none"
        id="path835-00-6"
        cx="1713.5194"
        cy="527.67645"
        r="29.11335"></circle>
      <circle
        style="display:inline;opacity:1;mix-blend-mode:normal;fill:var(--web-node-color);fill-opacity:1;stroke-width:0.041;stroke-miterlimit:4;stroke-dasharray:none"
        id="path835-46-2"
        cx="1486.7719"
        cy="70.597221"
        r="29.11335"></circle>
      <circle
        style="display:inline;opacity:1;mix-blend-mode:normal;fill:var(--web-node-color);fill-opacity:1;stroke-width:0.041;stroke-miterlimit:4;stroke-dasharray:none"
        id="path835-03-7-2"
        cx="1490.6981"
        cy="613.41718"
        r="29.11335"></circle>
      <circle
        style="display:inline;opacity:1;mix-blend-mode:normal;fill:var(--web-node-color);fill-opacity:1;stroke-width:0.041;stroke-miterlimit:4;stroke-dasharray:none"
        id="path835-03-7-5-4"
        cx="321.86121"
        cy="575.99475"
        r="29.11335"></circle>
    </g>
  </svg>
</div>
