---
import { Icon } from 'astro-icon/components';
---

<dialog id="imageDialog">
  <img class="h-auto max-h-[80%] w-auto max-w-full object-contain drop-shadow-xl" src="" />
  <p class="text-acid-green">Some text</p>
  <button id="closeDialog">
    <Icon class="m-auto h-8 w-8 py-2" name="ep:close-bold" />
  </button>
</dialog>
