---
import { Icon } from 'astro-icon';
---

<dialog id="imageDialog">
  <img class="drop-shadow-xl w-auto h-auto max-w-full max-h-[80%] object-contain" src="" />
  <p class="text-[#00ffb7]">Some text</p>
  <button id="closeDialog">
    <Icon class="py-2 m-auto w-8 h-8" name="ep:close-bold" />
  </button>
</dialog>
