@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  a {
    @apply break-words;
  }

  dialog::backdrop {
    @apply bg-muted-purple dark:bg-darker-purple/95;
  }

  [data-share-dialog]:modal {
    @apply flex h-full flex-col justify-center border-0 bg-transparent p-0;
  }
}

@layer components {
  .text-page {
    color: var(--aw-color-text-page);
  }

  .text-muted {
    color: var(--aw-color-text-muted);
  }

  .bg-light {
    background-color: var(--aw-color-bg-page);
  }

  .bg-dark {
    @apply bg-darker-purple;
  }

  .btn {
    @apply text-page inline-flex items-center justify-center rounded-full bg-white/20 px-6 py-3.5 text-center text-base font-medium leading-snug shadow-md transition duration-200 ease-in hover:border-gray-600 hover:bg-gray-100 focus:ring-2 focus:ring-blue-500 focus:ring-offset-2 focus:ring-offset-blue-200 dark:border-light-purple dark:bg-white/10 dark:text-light-purple dark:hover:border-light-purple dark:hover:bg-light-purple dark:hover:text-darker-purple md:px-8;
  }

  .btn-ghost {
    @apply text-muted border-none shadow-none hover:text-gray-900 dark:text-light-purple dark:hover:text-darker-purple;
  }

  .btn-primary {
    @apply bg-grape font-semibold text-white hover:bg-light-purple hover:text-darker-purple dark:border-primary dark:bg-primary dark:text-acid-green dark:hover:border-acid-green dark:hover:bg-acid-green dark:hover:text-cherry;
  }

  .menu-list {
    @apply translate-y-96 opacity-0;
    transition:
      transform 0.3s cubic-bezier(0.86, 0, 0.07, 1),
      opacity 0.3s;
  }

  .menu-item {
    @apply translate-y-1/2 opacity-0 md:translate-y-0 md:opacity-100;
    transition:
      transform 0.3s,
      opacity 0.3s;
  }
}

@layer utilities {
  .show {
    @apply translate-y-0 opacity-100;
  }
}

.menu-list[class$='show'] .menu-item {
  opacity: 1;
  transform: translateY(0%);
}

#header.scroll {
  @apply block bg-pastel-purple/90 shadow-md dark:bg-darker-purple/90 md:shadow-lg md:backdrop-blur-sm;
}

.dropdown:hover .dropdown-menu {
  display: block;
}

.dark svg {
  --web-node-color: var(--wb-dark-purple);
  --web-node-bg-color: var(--wb-cherry);
  --logo-up-color: var(--wb-acid-green);
  --logo-down-color: var(--wb-pink);
}

svg {
  --web-node-color: rgb(212, 187, 244);
  --web-node-bg-color: rgba(198, 155, 255, 0.827);
  --logo-up-color: var(--wb-light-purple);
  --logo-down-color: var(--wb-grape);
}

[astro-icon].icon-light > * {
  stroke-width: 1.2;
}

[astro-icon].icon-bold > * {
  stroke-width: 2.4;
}

[data-aw-toggle-menu] path {
  @apply transition;
}

[data-aw-toggle-menu].expanded g > path:first-child {
  @apply translate-x-[-3px] translate-y-[15px] -rotate-45;
}

[data-aw-toggle-menu].expanded g > path:last-child {
  @apply translate-x-[14px] translate-y-[-8px] rotate-45;
}

[data-aw-toggle-toc].expanded {
  @apply bg-light-purple text-dark-purple dark:bg-acid-green dark:text-cherry;
}

[data-toggle-filter].expanded {
  @apply bg-light-purple text-dark-purple dark:bg-acid-green dark:text-cherry;
}

.pagefind-ui .pagefind-ui__drawer {
  margin-top: -1.5rem;
  padding-top: 1.5rem;
}
