@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  a {
    @apply break-words;
  }

  dialog::backdrop {
    @apply bg-darker-purple/90;
  }

  :modal {
    @apply p-0 border-0 h-full bg-transparent flex flex-col justify-center;
  }
}

@layer components {
  .text-page {
    color: var(--aw-color-text-page);
  }

  .text-muted {
    color: var(--aw-color-text-muted);
  }

  .bg-light {
    background-color: var(--aw-color-bg-page);
  }

  .bg-dark {
    @apply bg-darker-purple;
  }
  
  .btn {
    @apply inline-flex items-center justify-center rounded-full shadow-md bg-white/20 dark:bg-white/10 font-medium text-center text-base text-page leading-snug transition py-3.5 px-6 md:px-8 ease-in duration-200 focus:ring-blue-500 focus:ring-offset-blue-200 focus:ring-2 focus:ring-offset-2 hover:bg-gray-100 hover:border-gray-600 dark:text-light-purple dark:border-light-purple dark:hover:text-darker-purple dark:hover:bg-light-purple dark:hover:border-light-purple;
  }

  .btn-ghost {
    @apply border-none shadow-none text-muted hover:text-gray-900 dark:text-light-purple dark:hover:text-darker-purple;
  }

  .btn-primary {
    @apply font-semibold bg-grape text-white hover:bg-light-purple hover:text-darker-purple dark:text-acid-green dark:bg-primary dark:border-primary dark:hover:border-acid-green dark:hover:bg-acid-green dark:hover:text-cherry;
  }

  .menu-list {
    @apply opacity-0 translate-y-96;
    transition: transform 0.3s cubic-bezier(0.86, 0, 0.07, 1), opacity 0.3s;
  }

  .menu-item {
    @apply opacity-0 translate-y-1/2 md:opacity-100 md:translate-y-0;
    transition: transform 0.3s, opacity 0.3s;
  }

  #closeDialog {
    @apply absolute bottom-3 right-3 h-12 w-12 bg-cherry text-acid-green rounded-full;
  }
}

@layer utilities {
  .show {
    @apply opacity-100 translate-y-0;
  }
}

.menu-list[class$='show'] .menu-item {
  opacity: 1;
  transform: translateY(0%);
}

#header.scroll {
  @apply block shadow-md md:shadow-lg bg-pastel-purple/90 md:backdrop-blur-sm dark:bg-darker-purple/90;
}

.dropdown:hover .dropdown-menu {
  display: block;
}

.slider-grid > * {
  @apply flex-shrink-0 w-full snap-center flex flex-col;
}

.dark svg {
  --web-node-color: var(--wb-dark-purple);
  --web-node-bg-color: var(--wb-cherry);
  --logo-up-color: var(--wb-acid-green);
  --logo-down-color: var(--wb-pink); 
}

svg {
  --web-node-color: rgb(212, 187, 244);
  --web-node-bg-color: rgba(198, 155, 255, 0.827);
  --logo-up-color: var(--wb-light-purple);
  --logo-down-color: var(--wb-grape); 
}


[astro-icon].icon-light > * {
  stroke-width: 1.2;
}

[astro-icon].icon-bold > * {
  stroke-width: 2.4;
}

[data-aw-toggle-menu] path {
  @apply transition;
}
[data-aw-toggle-menu].expanded g > path:first-child {
  @apply -rotate-45 translate-y-[15px] translate-x-[-3px];
}

[data-aw-toggle-menu].expanded g > path:last-child {
  @apply rotate-45 translate-y-[-8px] translate-x-[14px];
}

[data-aw-toggle-toc].expanded {
  @apply text-dark-purple bg-light-purple dark:text-cherry dark:bg-acid-green;
}
