@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  a {
    @apply break-words;
  }

  dialog::backdrop {
    @apply bg-[#19002edb];
  }

  :modal {
    @apply p-0 border-0 h-full bg-transparent flex flex-col justify-center;
  }
}

@layer components {
  .text-page {
    color: var(--aw-color-text-page);
  }

  .text-muted {
    color: var(--aw-color-text-muted);
  }

  .bg-light {
    background-color: var(--aw-color-bg-page);
  }

  .bg-dark {
    @apply bg-[#19002e];
  }
  
  .btn {
    @apply inline-flex items-center justify-center rounded-full shadow-md border-gray-400 border bg-transparent font-medium text-center text-base text-page leading-snug transition py-3.5 px-6 md:px-8 ease-in duration-200 focus:ring-blue-500 focus:ring-offset-blue-200 focus:ring-2 focus:ring-offset-2 hover:bg-gray-100 hover:border-gray-600 dark:text-[#c79bff] dark:border-[#c79bff] dark:hover:text-[#19002e] dark:hover:bg-[#c79bff] dark:hover:border-[#c79bff];
  }

  .btn-ghost {
    @apply border-none shadow-none text-muted hover:text-gray-900 dark:text-[#c79bff] dark:hover:text-[#19002e];
  }

  .btn-primary {
    @apply font-semibold bg-primary text-white border-primary hover:bg-blue-900 hover:border-blue-900 hover:text-white dark:text-[#00ffb7] dark:bg-primary dark:border-primary dark:hover:border-[#00ffb7] dark:hover:bg-[#00ffb7] dark:hover:text-[#900048];
  }

  .menu-list {
    @apply opacity-0 translate-y-96;
    transition: transform 0.3s cubic-bezier(0.86, 0, 0.07, 1), opacity 0.3s;
  }

  .menu-item {
    @apply opacity-0 translate-y-1/2 md:opacity-100 md:translate-y-0;
    transition: transform 0.3s, opacity 0.3s;
  }

  #closeDialog {
    @apply absolute bottom-3 right-3 h-12 w-12 bg-[#900048] text-[#00ffb7] rounded-full;
  }
}

@layer utilities {
  .show {
    @apply opacity-100 translate-y-0;
  }
}

.menu-list[class$='show'] .menu-item {
  opacity: 1;
  transform: translateY(0%);
}

#header.scroll {
  @apply shadow-md md:shadow-lg bg-white md:bg-white/90 md:backdrop-blur-sm dark:bg-[#19002e]/90;
}

.dropdown:hover .dropdown-menu {
  display: block;
}

.slider-grid > * {
  @apply flex-shrink-0 w-full snap-center flex flex-col;
}

[astro-icon].icon-light > * {
  stroke-width: 1.2;
}

[astro-icon].icon-bold > * {
  stroke-width: 2.4;
}

[data-aw-toggle-menu] path {
  @apply transition;
}
[data-aw-toggle-menu].expanded g > path:first-child {
  @apply -rotate-45 translate-y-[15px] translate-x-[-3px];
}

[data-aw-toggle-menu].expanded g > path:last-child {
  @apply rotate-45 translate-y-[-8px] translate-x-[14px];
}

[data-aw-toggle-toc].expanded {
  @apply dark:text-[#900048] bg-[#00ffb7];
}
