---
import '~/assets/styles/base.css';

import MetaTags from '~/components/common/MetaTags.astro';
import BasicScripts from '~/components/common/BasicScripts.astro';
import SearchModal from '~/components/widgets/SearchModal.astro';

import { MetaSEO } from '~/types';
import { SITE } from '~/config.mjs';
import { getAsset } from '~/utils/permalinks';
import i18next from 'i18next';

export interface Props {
  meta?: MetaSEO;
}

const { meta = {} } = Astro.props;
const { textDirection = 'ltr' } = SITE;
---

<!doctype html>
<html lang={i18next.language} dir={textDirection} class="2xl:text-[20px]">
  <head>
    <MetaTags {...meta} />
    <link href={getAsset('prism.css')} rel="stylesheet" />
    <script defer src="https://cloud.umami.is/script.js" data-website-id="0c3a6cb6-9ef4-4e17-ac7c-403fdfc6ef1f"
    ></script>
  </head>

  <body class="text-page bg-light dark:bg-dark tracking-tight antialiased dark:text-slate-300">
    <SearchModal />
    <slot />
    <BasicScripts />
  </body>
</html>
