<section class="mx-auto max-w-7xl px-6 py-12 sm:px-6 sm:py-16 lg:py-20">
  <slot name="heading" />
  <div class="grid grid-cols-3 gap-16">
    <div class="col-span-3 md:col-span-2">
      <slot />
    </div>
    <div class="fixed bottom-24 right-0 z-10 m-3 md:relative md:bottom-0 md:col-span-1">
      <div class="sticky top-28">
        <slot name="floating-bar" />
      </div>
    </div>
  </div>
  <slot name="footer" />
</section>
