---
import Layout from '~/layouts/BaseLayout.astro';
import Header from '~/components/widgets/Header.astro';
import Footer from '~/components/widgets/Footer.astro';
import Announcement from '~/components/widgets/Announcement.astro';
import ImageModal from '~/components/blog/ImageModal.astro';

import { headerData, footerData } from '~/data';

import { MetaSEO } from '~/types';

export interface Props {
  meta?: MetaSEO;
  home: boolean;
}

const { meta, home } = Astro.props;
---

<Layout {meta}>
  <slot name="announcement">
    <!-- <Announcement /> -->
  </slot>
  <slot name="header">
    <Header {...headerData} isSticky={home} showRssFeed showToggleTheme />
  </slot>
  <main>
    <ImageModal />
    <slot />
  </main>
  <slot name="footer">
    <Footer {...footerData} />
  </slot>
</Layout>
